.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  background: white;
  font-family: 'Avenir', sans-serif
}

.btn--pages.selected {
  color: grey;
  cursor: initial;
}

.Input {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 10px;
}

.input {
  width: 50%;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid grey;
  outline: none;
  flex: 1
}

.label {
  margin-left: 0.5em;
  font-size: 0.8em;
  color: dimgray;
}

.Pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    color: black;
    width: 100%;
    height: 35px;
    font-size: 0.75em;
}

.Chapter__container {
  width: 90%;
}

.Chapter__verse {
  display: flex;
}

.Chapter__verse--id {
  margin-top: 5px;
  padding: 5px;
  font-size: 0.8em;
}

.Chapter__verse--text {
  padding: 5px;
}

.btn--pages {
  background: white;
  width: 20%;
  height: 100%;
  border: 0px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  outline: none;
}

@media (min-width: 768px) {

  .Header__title {
    margin: 30px;
  }

  .Nav {
    height: 70px;
  }

  .Input {
    width: 40%;
  }

  button {
    font-size: 1.2em;
  }

}

@media (min-width: 1024px) {

  .Header__title {
    margin: 40px;
  }

  .Nav {
    justify-content: center;
    height: 60px;
  }

  .Input {
    width: 30%;
  }

  .Chapter__container {
    width: 60%;
  }

  button {
    width: 150px;
  }

}

@media (min-width: 1440px) {

  .Chapter__container {
    width: 50%;
  }
  
}

@media (min-width: 2560px) {

  .Input {
    width: 15%;
  }

  .Chapter__container {
    width: 40%;
  }

  button {
    width: 250px;
  }

}